@{ ViewData["Title"] = "About Us"; }
<h1>@ViewData["Title"]</h1>

<div style="padding-top: 20px;">
    <h2 style="padding-bottom: 10px;">Our Company</h2>
    <p>Royal Zippers was founded in 1925 with the goal to sell quality zippers at an affordable price. We were one of the first companies to mass-produce zippers and we take pride in our contributions to zipping history. We have continued to strive for this same goal and have sold millions of zippers to happy customers all over the world. Try our zippers out for yourself and see what makes them true Royal Quality.</p>
</div>

<div style="display: flex; flex-wrap: wrap; padding-top: 20px;">
    <h2 style="width: 100%; padding-bottom: 10px;">Our Headquarters</h2>
    <img src="~/img/officeBuilding.jpg" alt="tall office building" style="padding-bottom:16px;" width="75%" />
    <div style="width:25%; padding-left: 15px;">
        <p>Our Headquarters are located in sunny Los Angeles, California.</p>
        <p>We're proud to be 100% American owned, operated, and manufactured!</p>
        <p>
            Our corporate offices aren't open to the public but if you would like to contact us you can call our customer support line:<br/>
            <a href="tel:5555555555">555-555-5555</a>
        </p>
    </div>
</div>

<div style="padding-top: 20px;">
    <h2 style="padding-bottom: 10px;">Our Staff</h2>
    <p>Our excellent staff is committed to top-notch products and customer support. Every employee, from the corporate office to the production floor, is a vital part of the Royal Zippers family!</p>
</div>

<div style="padding-top: 20px;">
    <h2 style="padding-bottom: 10px;">Our Products</h2>
    <p>Our high-quality zippers are manufactured in the USA and closely monitored to ensure only the best products make it to our valuable customers. The zippers we produce have made many happy customers around the globe and we continue to focus on making the best possible product for a price that is affordable to the average American.</p>
</div>
